body {
    font-family:Raleway !important;
    font-size: 16px;
}

header.top_panel_wrap {
    font-family: Raleway;
}

div#wpadminbar {
    display: none;
}

.inline-block {
	display:inline-block;
}

.padding-20 {
  padding:20px;
}

.border-radius-5 {
  border-radius: 5px;
}

.z-index-10 {
    z-index: 10;
}

.full-screen-width {
    width: 150%;
    position: relative;
    left: -25%;
    padding: 0 25%;
}
