/************** colors        ******************/
/* Millwood red : #cf4a46 *******************/

/************************************************/

body {
    font-family:Raleway !important;
    font-size: 16px;
}

header.top_panel_wrap {
    font-family: Raleway;
}

.content input {
    font-family: inherit;
}

.post_item .post_info_posted_by {
    display: none;
}

.post_info .post_info_counters {
    float: initial;
}

.page_title .logo_slogan {
    font-size: .8em;
}

.content_wrap .contact_logo .logo_text {
     font-size: 28px;
    line-height: 1.2em !important;
}

.menu_main_nav>li>a {
	font-size:16px;
}

.content_wrap {
    width: auto;
    padding: 0 5%;
}

@media only screen and (max-width: 600px) {
    .logo .logo_text {
        font-size:2em;
    }
}

@media only screen and (min-width: 1024px) {
    /* if the screen is above 1024px wide */
    .content_wrap .logo_slogan {
        color:white;
        text-align:center;
        font-size: 1.5em;
    }
    
    .menu_main_nav>li>a {
        padding: 1em;
    }
    
    .menu_show .top_panel_middle .search_wrap {
        display: block;
        padding: 0 !important;
        top: -5px;
    }
}

@media only screen and (max-width: 1300px) {
    .content_wrap {
        width: auto;
        padding: 0 1%;
    }
    
    .menu_main_nav > li > a {
        padding: 1em 10px !important;
    }
}

.article_style_boxed .content > article > .post_content, .article_style_boxed[class*="single-"] .content > .comments_wrap, .article_style_boxed[class*="single-"] .content > article > .post_info_share, .article_style_boxed:not(.layout_excerpt):not(.single) .content .post_item {
    background: #fff;
}

@media only screen and (max-width: 800px) {
	.header_mobile .logo_slogan {
		font-size:1.5em;
	}
}

.logo .logo_text {
    font-weight: normal;
}

.top_panel_title .page_title {
    display: none;
} 

@media only screen and (max-width: 800px) {
	.page_content_wrap .content_wrap {
		width: 95%;
	}
}

@media only screen and (max-width: 400px) {
	.page_content_wrap .content_wrap {
		width: 99%;
	}
}

section.post_content {
    min-height: 500px;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .desktop-hidden { display: block; }  /* show it on small screens */
}

@media screen and (min-width: 401px) and (max-width: 5024px) {
  .desktop-hidden { display: none; }   /* hide it elsewhere */
}

@media only screen and (max-width: 1023px) {
	.mobile-tablet-hidden {
		display:none;
	}
}

@media only screen and (max-width: 800px) {
	.mobile-hidden {
		display:none;
	}
}

#footer-event-wraper {
    padding: 1px 5% 1px 5%;
}

@media only screen and (max-width: 800px) {
	#footer-event-wraper {
		padding:0;
	}
}

#footer-event-wraper .event {
    background: #ae9b7c;
    color:white;
}

#footer-event-wraper .event, #footer-news-wraper .news {
    margin-top: 10px;
    min-height: 150px;
    max-height:350px;
    overflow: hidden;
    height:400px;
    opacity:.8;
}

#footer-event-wraper .event-name {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4px;
    font-size:22px;
}

#footer-event-wraper .event .event-content, #footer-news-wraper .news .news-content {
    height: 255px;
    max-height:255px;
    overflow: hidden;
    padding:0 10px;
    font-size:18px;
}

#footer-news-wraper .news .news-content {
    margin-bottom:10px;
    padding: 0 5%;
    font-size:20px;
}

.news img, .event img {
    height: 200px;
    width: 200px;
}

span.read-more {
    float: right;
    margin-right: 5px;
    background: #333;
    padding: 0 5px;
}

span.read-more:hover {
	color: #333;
	cursor: pointer;
}

.event .read-more {
    padding: 10px;
    margin-right: 10px;
}

.news .read-more, .event .read-more {
    padding: 15px;
    text-align: center;
    margin: -15px 20%;
    width: 60%;
    font-size: 16px;
}

body.homepage .content_wrap .post_content h1.post_title.entry-title {
    display: none;
}

@media only screen and (max-width: 800px) {
    .news .read-more {
        margin: 0 20%;
    }
}

#footer-news-wraper .news {
    background: white;
    opacity: .8;
}

.news .news-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
	#footer-event-wraper .event {
		margin:10px 0;
	}

}

div#footer-event-title, div#footer-news-title {
    margin: 30px 0 0 0;
    font-size: 2em;
    text-decoration: underline;
    color: black;
    text-align:center;
}


div#footer-event-title:hover {
    color: #777;
}

div#footer-news-wraper {
    background: #e9e9e9;
}

div#footer-news-wraper {
    border-bottom: 1px solid #777;
    border-top: 1px solid #777;
}

button.slick-arrow {
	color:black;
	background:#ccc;
	padding:10px;
	position: relative;
    z-index: 10;
    width: 50px;
    opacity:.8;
}

button.slick-arrow:hover {
    opacity: 1;
    cursor: pointer;
}

.slick-event {
    padding: 0 10px;
}

button.slick-prev.slick-arrow {
    top: 150px;
    left: -20px;
}

button.slick-next.slick-arrow {
    top: -255px;
}

table.tribe-events-calendar td.tribe-events-has-events {
    background: #eee;
}

td.tribe-events-has-events .mobile-event {
    background: #777;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    margin: 0 25%;
}

.tribe-events-othermonth.tribe-events-has-events .mobile-event {
    background: #ccc;
}

@media only screen and (max-width: 800px) {
	#tribe-events-footer {
		display:none;
	}

	.tribe-bar-collapse #tribe-bar-collapse-toggle {
		width: 100%;
	}

	.tribe-bar-views-inner.tribe-clearfix {
    	display: none;
	}
}

a.tribe-events-ical.tribe-events-button.sc_button.sc_button_style_filled {
    display: none !important;
}

.tribe-events-page-title:after {
    display:none;
}

.tribe-events-single-event-title:after, .eg-home1-element-0:after, .sc_item_title:after, .sc_title_underline:after {
	display:none;
}


body.desktop span.open_child_menu {
    right: -10px;
    font-size: 1.5em;
    transition-duration: 0.8s;
    transition-property: transform;
     transform: rotate(-90deg);
}

@media only screen and (min-width: 1024px) {
    body.desktop span.open_child_menu {
        right:-20px;
    }
}
body.desktop .menu-item-has-children .sub-menu {
    top: 50px;
}

span.open_child_menu:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

body.desktop span.open_child_menu.hover {
    transition-duration: 0.8s;
    transition-property: transform;
    transform: rotate(0deg);
}

.custom.tparrows.tp-leftarrow, .custom.tparrows.tp-rightarrow  {
    border:2px solid #cf4a46;
}

.custom.tparrows.tp-leftarrow:before, .custom.tparrows.tp-rightarrow:before  {
    color: #cf4a46;
}

.custom.tparrows.tp-leftarrow:hover, .custom.tparrows.tp-rightarrow:hover  {
    background:#cf4a46 !important;
    opacity: .4;
}

.custom.tparrows.tp-leftarrow:hover:before, .custom.tparrows.tp-rightarrow:hover:before  {
    opacity:.8;
}

button#ds-donate-btn {
    background-color: #cf4a46;
    padding: 15px;
    border-radius: 5px;
}

button#ds-donate-btn:hover {
	opacity: .8;
	cursor: pointer;
}

.direct-stripe .donationvalue {
    display: inline-block;
    margin: 0 10px;
    height: 50px
}

.directStripe_answer.error {
    color: red;
    background-color: #ccc;
    margin: 30px 0;
}

button.Button-animationWrapper-child--primary.Button {
    background: #cf4a46 !important;
}

button.Button-animationWrapper-child--primary.Button:hover {
    opacity: .8;
}

span.Header-loggedInEmail {
    display: none !important;
}

button#ds-donate-btn i.icon-heart-light {
    	margin: 0 5px;
	line-height: 0
}

.inline-block {
	display:inline-block;
}

div#heart-wrapper {
    height: 20px;
    width: 40px;
}

.post_content blockquote {
	margin:0;
	padding:0 10px;
	text-align:left;
}

.post_content blockquote p {
    font-size: 20px;
}

.post_content .wp-block-pullquote {
    padding: 20px 0;
    margin: 1em 0;
}
.post_content blockquote:before {
	display:none;
}

.page_content_wrap section.post_content {
    margin: 0 15%;
}

@media only screen and (max-width: 1024px) {
.page_content_wrap section.post_content {
    margin: initial;
}
}

.page_content_wrap .post_item h1.post_title {
    font-size: 2em;
    /* font-weight: 100; */
    font-family: inherit;
}
