body {
	background-color : #f7f7f7;
}

.page_title .logo_slogan {
    font-size: .8em;
}

.top_panel_title .logo_slogan {
    text-align: center;
    font-size: 2em;
    color: #ccc;
    margin-top: 30px;
}

@media only screen and (max-width: 800px) {
	.header_mobile .logo_slogan {
		font-size:1.5em;
	}
}

.logo .logo_text {
    font-weight: normal;
}

.top_panel_title .page_title {
    display: none;
} 

@media screen and (min-width: 0px) and (max-width: 400px) {
  .desktop-hidden { display: block; }  /* show it on small screens */
}

@media screen and (min-width: 401px) and (max-width: 5024px) {
  .desktop-hidden { display: none; }   /* hide it elsewhere */
}

@media only screen and (max-width: 1023px) {
	.mobile-tablet-hidden {
		display:none;
	}
}

@media only screen and (max-width: 800px) {
	.mobile-hidden {
		display:none;
	}
}

#footer-event-wraper {
    padding: 1px 5% 1px 5%;
}

@media only screen and (max-width: 800px) {
	#footer-event-wraper {
		padding:0;
	}
}

#footer-event-wraper .event {
    background: #ae9b7c;
    margin: 10px;
    min-height: 150px;
    max-height:290px;
    padding:10px;
    color:white;
    overflow: hidden;
    height:400px;
}

#footer-event-wraper .event-name {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4px;
}

#footer-event-wraper .event .event-content {
    height: 220px;
    overflow: hidden;
}


span.read-more {
    float: right;
    margin-right: 5px;
    background: #333;
    padding: 0 5px;
}

span.read-more:hover {
	background:#ccc;
	color: #333;
	cursor: pointer;
}

@media only screen and (max-width: 800px) {
	#footer-event-wraper .event {
		margin:10px 0;
	}

}

div#footer-event-title {
    margin: 0;
    font-size: 1.7em;
    text-decoration: underline;
    color: black;
    text-align:center;
}

div#footer-event-title:hover {
    color: #777;
}

button.slick-arrow {
	color:black;
	background:#ccc;
	padding:10px;
	position: relative;
    z-index: 10;
    width: 50px;
    opacity:.8;

}

.slick-event {
    padding: 0 10px;
}

button.slick-prev.slick-arrow {
    top: 150px;
    left: -20px;
}

button.slick-next.slick-arrow {
    top: -200px;
}

table.tribe-events-calendar td.tribe-events-has-events {
    background: #eee;
}

td.tribe-events-has-events .mobile-event {
    background: #777;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    margin: 0 25%;
}

.tribe-events-othermonth.tribe-events-has-events .mobile-event {
    background: #ccc;
}

@media only screen and (max-width: 800px) {
	#tribe-events-footer {
		display:none;
	}

	.tribe-bar-collapse #tribe-bar-collapse-toggle {
		width: 100%;
	}

	.tribe-bar-views-inner.tribe-clearfix {
    	display: none;
	}
}

a.tribe-events-ical.tribe-events-button.sc_button.sc_button_style_filled {
    display: none !important;
}

.tribe-events-page-title:after {
    display:none;
}

.tribe-events-single-event-title:after, .eg-home1-element-0:after, .sc_item_title:after, .sc_title_underline:after {
	display:none;
}